<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="AdminLogin.Properties.Settings.IPTprojectConnectionString" connectionString="Data Source=ALMAS\SQLEXPRESS;Initial Catalog=IPTproject;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AdminLogin.Properties.Settings.IPTprojectConnectionString1" connectionString="Data Source=AIROVER\MSSQLSERVER01;Initial Catalog=IPTproject;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="IPTprojectEntities" connectionString="metadata=res://*/EmployeeModel.csdl|res://*/EmployeeModel.ssdl|res://*/EmployeeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALMAS\SQLEXPRESS;initial catalog=IPTproject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IPTproject" connectionString="metadata=res://*/Employee.csdl|res://*/Employee.ssdl|res://*/Employee.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALMAS\SQLEXPRESS;initial catalog=IPTproject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IPTprojectEntities1" connectionString="metadata=res://*/IptProject.csdl|res://*/IptProject.ssdl|res://*/IptProject.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AIROVER\MSSQLSERVER01;initial catalog=IPTproject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IPTprojectEntities2" connectionString="metadata=res://*/IPTproject.csdl|res://*/IPTproject.ssdl|res://*/IPTproject.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALMAS\SQLEXPRESS;initial catalog=IPTproject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFIPT/Service1/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="AdminLogin.WCFService">
        <endpoint address="" binding="basicHttpBinding" contract="AdminLogin.IWCFService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/AdminLogin/WCFService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>