@model IEnumerable<EmpMng.Models.Employee>

@{
    ViewBag.Title = "Verify";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!--start-login-form-->
<div class="login-form">
    <h1>Member login</h1>
    <form action="Verify" method="post">
        <span>
            <input type="text" class="user" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
        </span>
        <span>
            <input type="password" class="lock" name="Pass" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
        </span>
        <div class="submit">
            <input type="submit" />
        </div>
        <div class="Remember-me">
            <span class="forget-pass">
                @{
                    if (ViewBag.LoginStatus == 0)
                    {
                        <a>Incorrect Password</a>
                    }
                }
            </span>
        </div>
    </form>
</div>
<!--//End-login-form-->
